* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3882f6;
    color: #f9faf8;
}

/* Header section styles */
.header-section {
    background: #1F2937;
    color: #E5E7EB;
    padding-top: 10px;

    display: flex;
    justify-content: center;
}

.header-section .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.hero-content,
.hero-image {
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
}

.hero-secondary-text {
    margin-bottom: 10px;
}

.hero-secondary-text,
.navbar a {
    font-size: 18px;
}

.hero-btn {
    border: none;
}

.hero-image {
    background: #9f9f9f;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information section styles */
.info-section {
    padding-top: 20px;
    text-align: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 10px;
}

.info-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info-box {
    max-width: 150px;
}

.info-box .image {
    border: 3px solid #3882f6;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* Quote section styles */
.quote-section {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section .container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 10px;
}

.quote-source {
    font-weight: 600;
    align-self: flex-end;
}

/* Call to action styles */
.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section .container {
    background: #3882f6;
    color: #E5E7EB;
}

.cta-title {
    font-weight: 600;
    font-size: 20px;
}

.cta-btn {
    border: 2px solid white;

}

/* Footer section styles */
.footer-section {
    background: #1F2937;
    color: #E5E7EB;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}